
:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body,main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.container{
    width: 50%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 10px 10px var(--Grayish-Blue);
    border-radius: 1rem;
}
.col_1{
    width: 40%;
    border-radius: 1rem 0 0 1rem;
}
.col_1 img{
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}
.col_2{
    width: 60%;
    background-color: white;
    border-radius:0 1rem 1rem 0;
    padding: 2rem;
}

.hightlightText{
    font-weight:bolder;
    color:var(--Very-Dark-Grayish-Blue);
}
.contentText{
    color: var(--Grayish-Blue);
    font-size: 14px;
}
.user{
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
}
.user .image .ids{
    width: 100%;  
    border-radius: 50%;
}
.user .image{
    height: 50px ;
    width: 50px;
    border-radius: 50%;

}

.name{
position: relative;
right: 4rem;
font-size: 12px;
color: var(--Grayish-Blue);
}
.name span{
color: var(--Very-Dark-Grayish-Blue);
font-weight: bolder;
}
.share{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 50%;

}
.share .fa-solid{
    /* background-color: white; */
    color: white;
    /* width: 60%;  */
}

.socialContainer{
    position: absolute;
    right: -6.7rem;
    top: -4rem;
    flex-direction: column;
    align-items: center;
    display: none;
}
.social_icon{
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 250px;
    padding: 0.2rem;
    border-radius: 0.7rem;
   z-index: 100;
    color: var(--Grayish-Blue);
    font-size: 12px;
}
.social_icon .fa-brands{
    color: white;
    font-size: large;
}
.pointer{
    height: 30px;
    width: 30px;
    position: relative;
    top:-1rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    transform: rotate(45deg);
}
.show{
    display: flex;
}

@media screen and (max-width:900px) {
    .container{
        width: 80%;
        display: flex ;
        flex-direction: column;
    }

    .col_1{
        width: 100%;
        border-radius: 1rem 1rem 0 0rem;
    }
    .col_1 img{

        border-radius: 1rem 1rem 0 0rem;
    }
  
    .col_2{
        width: auto;
        background-color: white;
        border-radius: 0rem 0rem 1rem 1rem;
        padding: 2rem;
    }

    .user{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .name{
        position: relative;
        right: 0rem;
        text-align: center  ;
        font-size: 12px;
        color: var(--Grayish-Blue);
        }

    .socialContainer{
            right: auto;
            top: 2rem;
            display: none;
    }
    .show{
        display: flex;
    }

    .hightlightText{
        font-weight:bolder;
        color:var(--Very-Dark-Grayish-Blue);
        text-align: center;
    }
    .contentText{
        color: var(--Grayish-Blue);
        font-size: 14px;
        text-align: center;
    }
}
